<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NativeBindingGenerator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NativeBindingGenerator.Settings>
            <setting name="subversion_include_dir" serializeAs="String">
                <value>C:\src\subversion\subversion\include</value>
            </setting>
            <setting name="libsvnsharp_include_dir" serializeAs="String">
                <value>C:\Users\sachi\OneDrive\101_CodeProjects\10_Repo\01_DotNet\LibSvnSharp\include</value>
            </setting>
            <setting name="apr_include_dir" serializeAs="String">
                <value>C:\src\subversion\apr\include</value>
            </setting>
            <setting name="aprutil_include_dir" serializeAs="String">
                <value>C:\src\subversion\apr-util\include</value>
            </setting>
        </NativeBindingGenerator.Settings>
    </applicationSettings>
</configuration>